industrial.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Footbook</title><link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body class="hide theme-industrial">
    <div class="container">
      <div class="page-creator">
        <div class="header">
          <div class="logo"><img src="images/logo.png">
            <h2>Industrial Custom Shop</h2>
          </div>
          <div class="nav"><a class="btn btn-home">Home</a><a class="btn btn-cart">Cart</a>
            <div class="btn btn-username">Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a></div>
            <!--a.btn.btn-login Login-->
          </div>
        </div>
        <div class="body">
          <div class="options">
            <div class="wrap">
              <ul class="options-header">
                <li><a data-open=".options-men" class="active">Mens</a></li>
                <li><a data-open=".options-ladies">Ladies</a></li>
                <li><a data-open=".options-kids">Kids</a></li>
              </ul>
              <div class="options-item options-men active">
                <div class="options-search">
                  <input type="text"><a class="btn btn-xsmall">Extras</a>
                </div>
                <h3>Print</h3>
                <ul class="js-industrial-carousel options-style-strap">
                  <li>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                  </li>
                </ul>
                <h3>Sole Style</h3>
                <div class="options-sole-style-buttons"><a class="btn btn-xsmall active">All</a><a class="btn btn-xsmall">Slim</a><a class="btn btn-xsmall">Pointed</a><a class="btn btn-xsmall">Square</a></div>
                <ul class="js-industrial-carousel options-style-strap">
                  <li>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                  </li>
                </ul>
                <h3>Strap Type</h3>
                <ul class="js-industrial-carousel options-style-strap">
                  <li>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                  </li>
                </ul>
                <h3>Strap Texture</h3>
                <ul class="js-industrial-carousel options-style-strap">
                  <li>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                  </li>
                </ul>
                <h3>Strap Accessories</h3>
                <ul class="js-industrial-carousel options-style-strap">
                  <li>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                    <div class="options-group">
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                      <div class="item">&nbps;</div>
                    </div>
                  </li>
                </ul>
                <ul style="top: 50px;" class="options-style-color active">
                  <li class="active"><a data-color="#FFFFFF">White</a></li>
                  <li><a data-color="#808285">Grey</a></li>
                  <li><a data-color="#000000">Black</a></li>
                  <li><a data-color="#0A4436">Green</a></li>
                  <li><a data-color="#FD6B35">Orange</a></li>
                  <li><a data-color="#F6B332">Yellow</a></li>
                  <li><a data-color="#D0112B">Red</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main">
            <div class="main-place-accessory cover">
              <h2>Drag your accessory into position</h2>
            </div>
            <div class="main-place-accessory">
              <div class="btn-container"><a class="btn btn-red btn-cancel">Cancel</a><a class="btn btn-green-light btn-done">Done</a></div>
            </div>
            <div class="main-tools"><a class="btn btn-orange btn-undo">Undo</a><a class="btn btn-orange btn-redo">Redo</a>
              <div class="main-tools-zoom"><a class="btn btn-orange btn-zoom-out">Zoom out</a>
                <p>100%</p><a class="btn btn-orange btn-zoom-in">Zoom in</a>
              </div><a class="btn btn-green-light btn-save">Save &amp; Preview</a>
            </div>
            <div class="main-show">
              <div class="main-show-top">
                <!-- Slippers svg container-->
              </div>
              <div class="main-show-left">
                <!-- Slippers svg container-->
                <p>&nbsp;</p>
              </div>
              <div class="main-show-right">
                <!-- Slippers svg container-->
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="main-other">
              <div class="main-view">
                <div class="main-view-top active">
                  <!--include images/preview-top.svg-->
                </div>
                <div class="main-view-left">
                  <!--include images/preview-left.svg-->
                </div>
                <div class="main-view-right"></div>
                <!--.main-view-diagonal
                img(src="images/preview-diagonal.svg")
                
                -->
              </div>
              <div class="main-checkout"><a class="btn btn-green-light btn-checkout">Checkout</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup popup-get-ticket"><a class="btn-close">Close</a><img src="images/modal-signin.svg">
      <p>Please get your order ticket and present to the cashier</p><a class="btn btn-green-light btn-done">Done</a>
    </div>
    <div class="popup popup-checkout"><a class="btn-close">Close</a>
      <div class="popup-checkout-left">
        <div class="center"><img src="assets/slippers/slippers.svg" width="280"></div>
        <div class="center"><a class="btn btn-share">Share it!</a></div>
      </div>
      <div class="popup-checkout-right">
        <h2>Summary</h2>
        <table>
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Flip-flops</td>
            <td><span>PHP</span> 150.00</td>
          </tr>
          <tr>
            <td>Print</td>
            <td><span>PHP</span> 100.00</td>
          </tr>
          <tr>
            <td>Accessory 1 (x1)</td>
            <td><span>PHP</span> 50.00</td>
          </tr>
          <tr>
            <td>Accessory 2 (x1)</td>
            <td><span>PHP</span> 50.00</td>
          </tr>
        </table>
        <table class="popup-checkout-subtotal">
          <tr>
            <td>Subtotal</td>
            <td><span>PHP</span> 350.00</td>
          </tr>
        </table>
        <table class="popup-checkout-grandtotal">
          <tr>
            <td>Quantity</td>
            <td>
              <input type="text" value="1">
            </td>
          </tr>
          <tr>
            <td>Grand Total</td>
            <td><span>PHP</span> 350.00</td>
          </tr>
        </table><a class="btn btn-green-light btn-checkout-final">Checkout</a>
      </div>
    </div>
    <div class="popup popup-signin">
      <div style="width: 25%; font-weight: 300; opacity: 0.8">
        <p>Hey there,</p>
        <p>You can login to see you previous works and unfinished designs</p>
      </div>
      <div style="width: 40%; padding-top: 2em;">
        <div style="width: 50%; float: left;">
          <input type="text" placeholder="Username" class="js-keyboard">
        </div>
        <div style="width: 50%; float: left;">
          <input type="password" placeholder="Password" class="js-keyboard">
        </div><a style="width: 94%" class="btn btn-small btn-green-light">Login</a>
      </div>
      <div style="width: 30%; padding-top: 2.70em;">
        <p style="margin: 0; padding: 0; font-weight: 300; opacity: 0.8; font-size: 0.9em;">Don't have an account?</p><a style="width: 100%" class="btn btn-small btn-blue">Register</a>
      </div><a style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip">Skip »</a>
    </div>
    <div class="popup popup-accessory">
      <h2>Add this strap accessory?</h2>
      <div><img src="assets/accessory/1.png"></div>
      <p class="currency">+ <span>PHP</span> <strong>50.00</strong></p><a class="btn btn-red js-close-popup">No</a><a class="btn btn-green-light js-add-accessory">Yes</a>
    </div>
  </body>
</html>
<div class="pattern"></div>

industrial.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Footbook
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='style.css')
    script(src='js/vendor.js')
    script(src='js/app.js')
  body.hide.theme-industrial
    .container
      .page-creator
        .header
          .logo
            img(src="images/logo.png")
            h2 Industrial Custom Shop
          .nav
            a.btn.btn-home Home
            a.btn.btn-cart Cart
            .btn.btn-username Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a>
            //a.btn.btn-login Login
        .body
          .options
            .wrap
              ul.options-header
                li: a(data-open=".options-men").active Mens
                li: a(data-open=".options-ladies") Ladies
                li: a(data-open=".options-kids") Kids
              .options-item.options-men.active
                .options-search
                  input(type="text")
                  a.btn.btn-xsmall Extras
                h3 Print
                ul.js-industrial-carousel.options-style-strap
                  li
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;

                h3 Sole Style
                .options-sole-style-buttons
                  a.btn.btn-xsmall.active All
                  a.btn.btn-xsmall Slim
                  a.btn.btn-xsmall Pointed
                  a.btn.btn-xsmall Square

                ul.js-industrial-carousel.options-style-strap
                  li
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;

                h3 Strap Type
                ul.js-industrial-carousel.options-style-strap
                  li
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;

                h3 Strap Texture
                ul.js-industrial-carousel.options-style-strap
                  li
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;

                h3 Strap Accessories
                ul.js-industrial-carousel.options-style-strap
                  li
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;
                    .options-group
                      .item &nbps;
                      .item &nbps;
                      .item &nbps;

                ul.options-style-color.active(style="top: 50px;")
                  li.active: a(data-color="#FFFFFF") White
                  li: a(data-color="#808285") Grey
                  li: a(data-color="#000000") Black
                  li: a(data-color="#0A4436") Green
                  li: a(data-color="#FD6B35") Orange
                  li: a(data-color="#F6B332") Yellow
                  li: a(data-color="#D0112B") Red

          .main
            .main-place-accessory.cover
              h2 Drag your accessory into position
            .main-place-accessory
              .btn-container
                a.btn.btn-red.btn-cancel Cancel
                a.btn.btn-green-light.btn-done Done
            .main-tools
              a.btn.btn-orange.btn-undo Undo
              a.btn.btn-orange.btn-redo Redo
              .main-tools-zoom
                a.btn.btn-orange.btn-zoom-out Zoom out
                p 100%
                a.btn.btn-orange.btn-zoom-in Zoom in
              a.btn.btn-green-light.btn-save Save &amp; Preview
            .main-show
              .main-show-top
                // Slippers svg container
              .main-show-left
                // Slippers svg container
                p &nbsp;
              .main-show-right
                // Slippers svg container
                p &nbsp;

            .main-other
              .main-view
                .main-view-top.active
                  //include images/preview-top.svg
                .main-view-left
                  //include images/preview-left.svg
                .main-view-right
                //.main-view-diagonal
                  img(src="images/preview-diagonal.svg")

              .main-checkout
                a.btn.btn-green-light.btn-checkout Checkout

    .popup.popup-get-ticket
      a.btn-close Close
      img(src="images/modal-signin.svg")
      p Please get your order ticket and present to the cashier
      a.btn.btn-green-light.btn-done Done
    .popup.popup-checkout
      a.btn-close Close
      .popup-checkout-left
        .center
          img(src="assets/slippers/slippers.svg" width="280")
        .center
          a.btn.btn-share Share it!
      .popup-checkout-right
        h2 Summary
        table
          tr
            th Item
            th Price
          tr
            td Flip-flops
            td <span>PHP</span> 150.00
          tr
            td Print
            td <span>PHP</span> 100.00
          tr
            td Accessory 1 (x1)
            td <span>PHP</span> 50.00
          tr
            td Accessory 2 (x1)
            td <span>PHP</span> 50.00

        table.popup-checkout-subtotal
          tr
            td Subtotal
            td <span>PHP</span> 350.00

        table.popup-checkout-grandtotal
          tr
            td Quantity
            td: input(type="text" value="1")
          tr
            td Grand Total
            td <span>PHP</span> 350.00

        a.btn.btn-green-light.btn-checkout-final Checkout
    .popup.popup-signin
      div(style="width: 25%; font-weight: 300; opacity: 0.8")
        p Hey there,
        p You can login to see you previous works and unfinished designs

      div(style="width: 40%; padding-top: 2em;")
        div(style="width: 50%; float: left;")
          input.js-keyboard(type="text" placeholder="Username")
        div(style="width: 50%; float: left;")
          input.js-keyboard(type="password" placeholder="Password")
        a.btn.btn-small.btn-green-light(style="width: 94%") Login

      div(style="width: 30%; padding-top: 2.70em;")
        p(style="margin: 0; padding: 0; font-weight: 300; opacity: 0.8; font-size: 0.9em;") Don't have an account?
        a.btn.btn-small.btn-blue(style="width: 100%") Register

      a(style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip") Skip »

    .popup.popup-accessory
      h2 Add this strap accessory?
      div
        img(src="assets/accessory/1.png")
      p.currency + <span>PHP</span> <strong>50.00</strong>

      a.btn.btn-red.js-close-popup No
      a.btn.btn-green-light.js-add-accessory Yes

.pattern
