start.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Footbook
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='style.css')
    script(src='js/vendor.js')
    script(src='js/app.js')
  body.hide
    .container
      .page-start
        h1: img(src="images/logo.png")
        h2 Create your own flip-flops.
        p Tap anywhere to start
        a(href="#") &nbsp;
      .page-choose-theme
        .header
          .logo
            img(src="images/logo.png")
            h2 Custom Shop
          .nav
            a.btn.btn-home Home
            a.btn.btn-cart Cart
            //.btn.btn-username Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a>
            a.btn.btn-login Login
        h1 Pick a them you want to start from.
        ul.theme-choices
          li
            div
              div.image(style="background-image: url('images/themes/1.jpg')")
              a.btn.btn-white(data-theme="theme-summer") Sports Theme
          li
            div
              div.image(style="background-image: url('images/themes/2.jpg')")
              a.btn.btn-white(data-theme="theme-baseball") Urban Theme
          li
            div
              div.image(style="background-image: url('images/themes/3.jpg')")
              a.btn.btn-white(data-theme="theme-blue") Beach Theme

        a.btn.btn-white.bx-next: span.glyphicon.glyphicon-chevron-right
        a.btn.btn-white.bx-prev: span.glyphicon.glyphicon-chevron-left

      .page-home
        h1: img(src="images/logo.png")
        .home-gallery
          p See masterpieces that have been created by others
          a.btn.btn-white.btn-gallery(href="#") Design Gallery

        .home-create
          img(src="images/home-slipper2.svg")
          a.btn.btn-green.btn-create-your-own(href="#") Create Your Own

        .home-signup
          img(src="images/home-slipper3.svg")
          a.btn.btn-white.btn-signup(href="#") Signup / Login
      .page-creator
        .header
          .logo
            img(src="images/logo.png")
            h2 Custom Shop
          .nav
            a.btn.btn-home Home
            a.btn.btn-cart Cart
            //.btn.btn-username Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a>
            a.btn.btn-login Login
        .body
          .options
            .wrap
              ul.options-header
                li: a(data-open=".options-size").active Size
                li: a(data-open=".options-style") Style
                li: a(data-open=".options-design") Design
              .options-item.options-size
                ul
                  li.active: a Male
                  li: a Female
                  li: a Kids

                ul
                  li.active: a 6
                  li: a 6.5
                  li: a 7
                  li: a 7.5
                  li: a 8
                  li: a 8.5
                  li: a 9
                  li: a 9.5
                  li: a 10
                  li: a 10.5
                  li: a 11
                  li: a 11.5
                  li: a 12
              .options-item.options-style
                h3 Strap Style
                ul.js-carousel.options-style-strap
                  li.active: a(data-basename="men1a"): img(src="assets/straps/men1a-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="men2b"): img(src="assets/straps/men2b-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies1"): img(src="assets/straps/ladies1-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies3"): img(src="assets/straps/ladies3-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies4"): img(src="assets/straps/ladies4-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies5"): img(src="assets/straps/ladies5-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies6"): img(src="assets/straps/ladies6-thumb.png" style="max-height: 90%;")

                h3 Sole Style
                ul.js-carousel
                  li.active: a: img(src="assets/sole/sole-1.png" style="max-height: 90%;")

                ul.options-style-color.active(style="top: 50px;")
                  //li.active: a(data-color="#FFFFFF" data-colorname="white") White
                  li.active: a(data-color="#0A4436" data-colorname="green") Green
                  li: a(data-color="#808285" data-colorname="grey") Grey
                  li: a(data-color="#000000" data-colorname="black") Black
                  li: a(data-color="#FD6B35" data-colorname="orange") Orange
                  li: a(data-color="#F6B332" data-colorname="yellow") Yellow
                  li: a(data-color="#D0112B" data-colorname="red") Red
                ul.options-style-color(style="top: 190px;")
                  //li.active: a(data-color="#FFFFFF" data-colorname="white") White
                  li.active: a(data-color="#0A4436" data-colorname="green") Green
                  li: a(data-color="#808285" data-colorname="grey") Grey
                  li: a(data-color="#000000" data-colorname="black") Black
                  li: a(data-color="#FD6B35" data-colorname="orange") Orange
                  li: a(data-color="#F6B332" data-colorname="yellow") Yellow
                  li: a(data-color="#D0112B" data-colorname="red") Red
              .options-item.options-design
                //h3 Strap Texture
                //ul.js-carousel
                  li.active: a Texture 1
                  li: a Texture 2
                  li: a Texture 3

                h3 Print Design
                ul.js-carousel.options-design-print-design
                  li.active: a(data-image="assets/patterns/congruent_pentagon.png")
                  li: a(data-image="assets/patterns/restaurant.png")
                  li: a(data-image="assets/patterns/seamless_paper_texture.png")
                  li: a(data-image="assets/patterns/upfeathers.png")
                  li: a(data-image="assets/patterns/bright_squares.png")
                  li: a(data-image="assets/patterns/green_gobbler.png")
                  li: a(data-image="assets/patterns/skulls.png")
                  li: a(data-image="assets/patterns/stardust.png")
                .options-design-upload
                  a.btn.btn-orange.btn-small.btn-upload Upload
                  input(type="file" name="image" id="upload" onchange="previewImage(this)" accept="image/*")
                  a.btn.btn-orange.btn-small.btn-upload-move-up: span.glyphicon.glyphicon-arrow-up
                  a.btn.btn-orange.btn-small.btn-upload-move-down: span.glyphicon.glyphicon-arrow-down
                  a.btn.btn-orange.btn-small.btn-upload-move-left: span.glyphicon.glyphicon-arrow-left
                  a.btn.btn-orange.btn-small.btn-upload-move-right: span.glyphicon.glyphicon-arrow-right
                  br
                  a.btn.btn-orange.btn-small.btn-upload-zoom-in: span.glyphicon.glyphicon-zoom-in
                  a.btn.btn-orange.btn-small.btn-upload-zoom-out: span.glyphicon.glyphicon-zoom-out
                  a.btn.btn-orange.btn-small.btn-mirror Mirror
                  //a.btn.btn-orange.btn-small.btn-remove-upload Remove

                h3 Strap Accessories
                ul.js-carousel.options-strap-accessories
                  li: a(data-price="50.00"): img(src="assets/accessory/1.png")
                  li: a(data-price="30.00"): img(src="assets/accessory/2.png")
                  li: a(data-price="20.00"): img(src="assets/accessory/3.png")

          .main
            .main-place-accessory.cover
              h2 Drag your accessory into position
            .main-place-accessory
              .btn-container
                a.btn.btn-red.btn-cancel Cancel
                a.btn.btn-green-light.btn-done Done
            .main-tools
              a.btn.btn-orange.btn-undo Undo
              a.btn.btn-orange.btn-redo Redo
              .main-tools-zoom
                a.btn.btn-orange.btn-zoom-out Zoom out
                p 100%
                a.btn.btn-orange.btn-zoom-in Zoom in
              a.btn.btn-green-light.btn-preview.btn-save Save &amp; Preview
            .main-show
              .main-show-top
                // Slippers svg container
              .main-show-left
                // Slippers svg container
                p &nbsp;
              .main-show-right
                // Slippers svg container
                p &nbsp;

            .main-other
              .main-view
                .main-view-top.active
                .main-view-left
                .main-view-right
                //.main-view-diagonal
                  img(src="images/preview-diagonal.svg")

              .main-checkout
                p PHP <b>250.00</b>
                a.btn.btn-green-light.btn-checkout Checkout

    .popup.popup-get-ticket
      a.btn-close Close
      img(src="images/modal-signin.svg")
      p Please get your order ticket and present to the cashier
      a.btn.btn-green-light.btn-done Done
    .popup.popup-checkout
      a.btn-close Close
      .popup-checkout-left
        a.btn.btn-orange.btn-small.btn-prev: span.glyphicon.glyphicon-arrow-left
        a.btn.btn-orange.btn-small.btn-next: span.glyphicon.glyphicon-arrow-right
        .center.checkout-slipper-container
          //img(src="assets/slippers/slippers.svg" width="280")
        .center
          a.btn.btn-share Share it!
      .popup-checkout-right
        h2 Summary
        table.price-breakdown
          tr
            th Item
            th Price
          tr
            td Sole
            td <span>PHP</span> 100.00
          tr
            td Strap
            td <span>PHP</span> 50.00
          tr
            td Print Design
            td <span>PHP</span> 100.00

        table.popup-checkout-subtotal.price-subtotal
          tr
            td Subtotal
            td <span>PHP</span> 350.00

        table.popup-checkout-grandtotal.price-grandtotal
          tr
            td Quantity
            td: input(type="text" value="1" onchange="updateGrandtotal()")
          tr
            td Grand Total
            td <span>PHP</span> 350.00

        a.btn.btn-green-light.btn-checkout-final Checkout
    .popup.popup-register
      div(style="width: 25%; font-weight: 300; opacity: 0.8")
        p Hey there,
        p You can login to see you previous works and unfinished designs

      div(style="width: 70%; padding-top: 2em;")
        div(style="width: 30%; float: left;")
          input.js-keyboard(type="text" placeholder="First Name")
        div(style="width: 30%; float: left;")
          input.js-keyboard(type="text" placeholder="Last Name")
        div(style="width: 30%; float: left;")
          input.js-keyboard(type="password" placeholder="Password")
        a.btn.btn-small.btn-blue(style="width: 30%;") Register


      a(style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip") Skip »

    .popup.popup-signin
      div(style="width: 25%; font-weight: 300; opacity: 0.8")
        p Hey there,
        p You can login to see you previous works and unfinished designs

      div(style="width: 40%; padding-top: 2em;")
        div(style="width: 50%; float: left;")
          input.js-keyboard(type="text" placeholder="Username")
        div(style="width: 50%; float: left;")
          input.js-keyboard(type="password" placeholder="Password")
        a.btn.btn-small.btn-green-light(style="width: 94%" href="industrial.html") Login

      div(style="width: 30%; padding-top: 2.70em;")
        p(style="margin: 0; padding: 0; font-weight: 300; opacity: 0.8; font-size: 0.9em;") Don't have an account?
        a.btn.btn-small.btn-blue.btn-register(style="width: 100%") Register

      a(style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip") Skip »

    .popup.popup-accessory
      h2 Add this strap accessory?
      div
        img(src="assets/accessory/1.png")
      p.currency + <span>PHP</span> <strong>50.00</strong>

      a.btn.btn-red.js-close-popup No
      a.btn.btn-green-light.js-add-accessory Yes

    .popup.popup-gallery
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.btn-close Close

.pattern

.accessory-close

start.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Footbook</title><link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body class="hide">
    <div class="container">
      <div class="page-start">
        <h1><img src="images/logo.png"></h1>
        <h2>Create your own flip-flops.</h2>
        <p>Tap anywhere to start</p><a href="#">&nbsp;</a>
      </div>
      <div class="page-choose-theme">
        <div class="header">
          <div class="logo"><img src="images/logo.png">
            <h2>Custom Shop</h2>
          </div>
          <div class="nav"><a class="btn btn-home">Home</a><a class="btn btn-cart">Cart</a>
            <!--.btn.btn-username Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a>--><a class="btn btn-login">Login</a>
          </div>
        </div>
        <h1>Pick a them you want to start from.</h1>
        <ul class="theme-choices">
          <li>
            <div>
              <div style="background-image: url('images/themes/1.jpg')" class="image"></div><a data-theme="theme-summer" class="btn btn-white">Sports Theme</a>
            </div>
          </li>
          <li>
            <div>
              <div style="background-image: url('images/themes/2.jpg')" class="image"></div><a data-theme="theme-baseball" class="btn btn-white">Urban Theme</a>
            </div>
          </li>
          <li>
            <div>
              <div style="background-image: url('images/themes/3.jpg')" class="image"></div><a data-theme="theme-blue" class="btn btn-white">Beach Theme</a>
            </div>
          </li>
        </ul><a class="btn btn-white bx-next"><span class="glyphicon glyphicon-chevron-right"></span></a><a class="btn btn-white bx-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      </div>
      <div class="page-home">
        <h1><img src="images/logo.png"></h1>
        <div class="home-gallery">
          <p>See masterpieces that have been created by others</p><a href="#" class="btn btn-white btn-gallery">Design Gallery</a>
        </div>
        <div class="home-create"><img src="images/home-slipper2.svg"><a href="#" class="btn btn-green btn-create-your-own">Create Your Own</a></div>
        <div class="home-signup"><img src="images/home-slipper3.svg"><a href="#" class="btn btn-white btn-signup">Signup / Login</a></div>
      </div>
      <div class="page-creator">
        <div class="header">
          <div class="logo"><img src="images/logo.png">
            <h2>Custom Shop</h2>
          </div>
          <div class="nav"><a class="btn btn-home">Home</a><a class="btn btn-cart">Cart</a>
            <!--.btn.btn-username Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a>--><a class="btn btn-login">Login</a>
          </div>
        </div>
        <div class="body">
          <div class="options">
            <div class="wrap">
              <ul class="options-header">
                <li><a data-open=".options-size" class="active">Size</a></li>
                <li><a data-open=".options-style">Style</a></li>
                <li><a data-open=".options-design">Design</a></li>
              </ul>
              <div class="options-item options-size">
                <ul>
                  <li class="active"><a>Male</a></li>
                  <li><a>Female</a></li>
                  <li><a>Kids</a></li>
                </ul>
                <ul>
                  <li class="active"><a>6</a></li>
                  <li><a>6.5</a></li>
                  <li><a>7</a></li>
                  <li><a>7.5</a></li>
                  <li><a>8</a></li>
                  <li><a>8.5</a></li>
                  <li><a>9</a></li>
                  <li><a>9.5</a></li>
                  <li><a>10</a></li>
                  <li><a>10.5</a></li>
                  <li><a>11</a></li>
                  <li><a>11.5</a></li>
                  <li><a>12</a></li>
                </ul>
              </div>
              <div class="options-item options-style">
                <h3>Strap Style</h3>
                <ul class="js-carousel options-style-strap">
                  <li class="active"><a data-basename="men1a"><img src="assets/straps/men1a-thumb.png" style="max-height: 90%;"></a></li>
                  <li><a data-basename="men2b"><img src="assets/straps/men2b-thumb.png" style="max-height: 90%;"></a></li>
                  <li><a data-basename="ladies1"><img src="assets/straps/ladies1-thumb.png" style="max-height: 90%;"></a></li>
                  <li><a data-basename="ladies3"><img src="assets/straps/ladies3-thumb.png" style="max-height: 90%;"></a></li>
                  <li><a data-basename="ladies4"><img src="assets/straps/ladies4-thumb.png" style="max-height: 90%;"></a></li>
                  <li><a data-basename="ladies5"><img src="assets/straps/ladies5-thumb.png" style="max-height: 90%;"></a></li>
                  <li><a data-basename="ladies6"><img src="assets/straps/ladies6-thumb.png" style="max-height: 90%;"></a></li>
                </ul>
                <h3>Sole Style</h3>
                <ul class="js-carousel">
                  <li class="active"><a><img src="assets/sole/sole-1.png" style="max-height: 90%;"></a></li>
                </ul>
                <ul style="top: 50px;" class="options-style-color active">
                  <!--li.active: a(data-color="#FFFFFF" data-colorname="white") White-->
                  <li class="active"><a data-color="#0A4436" data-colorname="green">Green</a></li>
                  <li><a data-color="#808285" data-colorname="grey">Grey</a></li>
                  <li><a data-color="#000000" data-colorname="black">Black</a></li>
                  <li><a data-color="#FD6B35" data-colorname="orange">Orange</a></li>
                  <li><a data-color="#F6B332" data-colorname="yellow">Yellow</a></li>
                  <li><a data-color="#D0112B" data-colorname="red">Red</a></li>
                </ul>
                <ul style="top: 190px;" class="options-style-color">
                  <!--li.active: a(data-color="#FFFFFF" data-colorname="white") White-->
                  <li class="active"><a data-color="#0A4436" data-colorname="green">Green</a></li>
                  <li><a data-color="#808285" data-colorname="grey">Grey</a></li>
                  <li><a data-color="#000000" data-colorname="black">Black</a></li>
                  <li><a data-color="#FD6B35" data-colorname="orange">Orange</a></li>
                  <li><a data-color="#F6B332" data-colorname="yellow">Yellow</a></li>
                  <li><a data-color="#D0112B" data-colorname="red">Red</a></li>
                </ul>
              </div>
              <div class="options-item options-design">
                <!--h3 Strap Texture-->
                <!--ul.js-carousel
                li.active: a Texture 1
                li: a Texture 2
                li: a Texture 3
                
                -->
                <h3>Print Design</h3>
                <ul class="js-carousel options-design-print-design">
                  <li class="active"><a data-image="assets/patterns/congruent_pentagon.png"></a></li>
                  <li><a data-image="assets/patterns/restaurant.png"></a></li>
                  <li><a data-image="assets/patterns/seamless_paper_texture.png"></a></li>
                  <li><a data-image="assets/patterns/upfeathers.png"></a></li>
                  <li><a data-image="assets/patterns/bright_squares.png"></a></li>
                  <li><a data-image="assets/patterns/green_gobbler.png"></a></li>
                  <li><a data-image="assets/patterns/skulls.png"></a></li>
                  <li><a data-image="assets/patterns/stardust.png"></a></li>
                </ul>
                <div class="options-design-upload"><a class="btn btn-orange btn-small btn-upload">Upload</a>
                  <input type="file" name="image" id="upload" onchange="previewImage(this)" accept="image/*"><a class="btn btn-orange btn-small btn-upload-move-up"><span class="glyphicon glyphicon-arrow-up"></span></a><a class="btn btn-orange btn-small btn-upload-move-down"><span class="glyphicon glyphicon-arrow-down"></span></a><a class="btn btn-orange btn-small btn-upload-move-left"><span class="glyphicon glyphicon-arrow-left"></span></a><a class="btn btn-orange btn-small btn-upload-move-right"><span class="glyphicon glyphicon-arrow-right"></span></a><br><a class="btn btn-orange btn-small btn-upload-zoom-in"><span class="glyphicon glyphicon-zoom-in"></span></a><a class="btn btn-orange btn-small btn-upload-zoom-out"><span class="glyphicon glyphicon-zoom-out"></span></a><a class="btn btn-orange btn-small btn-mirror">Mirror</a>
                  <!--a.btn.btn-orange.btn-small.btn-remove-upload Remove-->
                </div>
                <h3>Strap Accessories</h3>
                <ul class="js-carousel options-strap-accessories">
                  <li><a data-price="50.00"><img src="assets/accessory/1.png"></a></li>
                  <li><a data-price="30.00"><img src="assets/accessory/2.png"></a></li>
                  <li><a data-price="20.00"><img src="assets/accessory/3.png"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main">
            <div class="main-place-accessory cover">
              <h2>Drag your accessory into position</h2>
            </div>
            <div class="main-place-accessory">
              <div class="btn-container"><a class="btn btn-red btn-cancel">Cancel</a><a class="btn btn-green-light btn-done">Done</a></div>
            </div>
            <div class="main-tools"><a class="btn btn-orange btn-undo">Undo</a><a class="btn btn-orange btn-redo">Redo</a>
              <div class="main-tools-zoom"><a class="btn btn-orange btn-zoom-out">Zoom out</a>
                <p>100%</p><a class="btn btn-orange btn-zoom-in">Zoom in</a>
              </div><a class="btn btn-green-light btn-preview btn-save">Save &amp; Preview</a>
            </div>
            <div class="main-show">
              <div class="main-show-top">
                <!-- Slippers svg container-->
              </div>
              <div class="main-show-left">
                <!-- Slippers svg container-->
                <p>&nbsp;</p>
              </div>
              <div class="main-show-right">
                <!-- Slippers svg container-->
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="main-other">
              <div class="main-view">
                <div class="main-view-top active"></div>
                <div class="main-view-left"></div>
                <div class="main-view-right"></div>
                <!--.main-view-diagonal
                img(src="images/preview-diagonal.svg")
                
                -->
              </div>
              <div class="main-checkout">
                <p>PHP <b>250.00</b></p><a class="btn btn-green-light btn-checkout">Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup popup-get-ticket"><a class="btn-close">Close</a><img src="images/modal-signin.svg">
      <p>Please get your order ticket and present to the cashier</p><a class="btn btn-green-light btn-done">Done</a>
    </div>
    <div class="popup popup-checkout"><a class="btn-close">Close</a>
      <div class="popup-checkout-left"><a class="btn btn-orange btn-small btn-prev"><span class="glyphicon glyphicon-arrow-left"></span></a><a class="btn btn-orange btn-small btn-next"><span class="glyphicon glyphicon-arrow-right"></span></a>
        <div class="center checkout-slipper-container">
          <!--img(src="assets/slippers/slippers.svg" width="280")-->
        </div>
        <div class="center"><a class="btn btn-share">Share it!</a></div>
      </div>
      <div class="popup-checkout-right">
        <h2>Summary</h2>
        <table class="price-breakdown">
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Sole</td>
            <td><span>PHP</span> 100.00</td>
          </tr>
          <tr>
            <td>Strap</td>
            <td><span>PHP</span> 50.00</td>
          </tr>
          <tr>
            <td>Print Design</td>
            <td><span>PHP</span> 100.00</td>
          </tr>
        </table>
        <table class="popup-checkout-subtotal price-subtotal">
          <tr>
            <td>Subtotal</td>
            <td><span>PHP</span> 350.00</td>
          </tr>
        </table>
        <table class="popup-checkout-grandtotal price-grandtotal">
          <tr>
            <td>Quantity</td>
            <td>
              <input type="text" value="1" onchange="updateGrandtotal()">
            </td>
          </tr>
          <tr>
            <td>Grand Total</td>
            <td><span>PHP</span> 350.00</td>
          </tr>
        </table><a class="btn btn-green-light btn-checkout-final">Checkout</a>
      </div>
    </div>
    <div class="popup popup-register">
      <div style="width: 25%; font-weight: 300; opacity: 0.8">
        <p>Hey there,</p>
        <p>You can login to see you previous works and unfinished designs</p>
      </div>
      <div style="width: 70%; padding-top: 2em;">
        <div style="width: 30%; float: left;">
          <input type="text" placeholder="First Name" class="js-keyboard">
        </div>
        <div style="width: 30%; float: left;">
          <input type="text" placeholder="Last Name" class="js-keyboard">
        </div>
        <div style="width: 30%; float: left;">
          <input type="password" placeholder="Password" class="js-keyboard">
        </div><a style="width: 30%;" class="btn btn-small btn-blue">Register</a>
      </div><a style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip">Skip »</a>
    </div>
    <div class="popup popup-signin">
      <div style="width: 25%; font-weight: 300; opacity: 0.8">
        <p>Hey there,</p>
        <p>You can login to see you previous works and unfinished designs</p>
      </div>
      <div style="width: 40%; padding-top: 2em;">
        <div style="width: 50%; float: left;">
          <input type="text" placeholder="Username" class="js-keyboard">
        </div>
        <div style="width: 50%; float: left;">
          <input type="password" placeholder="Password" class="js-keyboard">
        </div><a style="width: 94%" href="industrial.html" class="btn btn-small btn-green-light">Login</a>
      </div>
      <div style="width: 30%; padding-top: 2.70em;">
        <p style="margin: 0; padding: 0; font-weight: 300; opacity: 0.8; font-size: 0.9em;">Don't have an account?</p><a style="width: 100%" class="btn btn-small btn-blue btn-register">Register</a>
      </div><a style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip">Skip »</a>
    </div>
    <div class="popup popup-accessory">
      <h2>Add this strap accessory?</h2>
      <div><img src="assets/accessory/1.png"></div>
      <p class="currency">+ <span>PHP</span> <strong>50.00</strong></p><a class="btn btn-red js-close-popup">No</a><a class="btn btn-green-light js-add-accessory">Yes</a>
    </div>
    <div class="popup popup-gallery"><a class="item"><img src="http://placehold.it/350x350"></a><a class="item"><img src="http://placehold.it/350x350"></a><a class="item"><img src="http://placehold.it/350x350"></a><a class="item"><img src="http://placehold.it/350x350"></a><a class="item"><img src="http://placehold.it/350x350"></a><a class="item"><img src="http://placehold.it/350x350"></a><a class="btn-close">Close</a></div>
  </body>
</html>
<div class="pattern"></div>
<div class="accessory-close"></div>
